main{
    display:grid;
    grid-template-areas: 
            "head head head"
            "side content content"
            "foot foot foot";
    grid-template-rows: auto auto auto;
}
header{
    grid-area:head ;
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:10vh;
    background-color: white;
}
article{
    grid-area:content ;
    position:absolute;
    top:10vh;
    left:5.5vw;
    right:0;
    bottom:10vh;
    width:94.5vw;;
    height:80vh;
    /* background-color: red; */
}
aside{
    grid-area:side ;
    position:absolute;
    top:10vh;
    left:0;
    width:5.5vw;
    height:90vh;
    display:grid;
    grid-template-areas: 
            "task task task"
            "task1 task1 task1";
    grid-template-rows: auto auto;
}
footer{
    grid-area:foot ;
    position:absolute;
    bottom:0;
    left:0;
    width:100vw;
    height:10vh;
    background-color: white;
}
.img{
    position:absolute;
    top:10px;
    padding:10px 15px 10px 20px;
    border-right:1px solid black; 
}
.img1{
    position:absolute;
    top:20px;
    left:170px;
    height:50%;
}
.text1{
    position:absolute;
    top:15px;
    left:220px;
}
.text2{
    position:absolute;
    top:15px;
    left:310px;
    border:1px solid transparent;
    background-color: #eaedec;
}
.img2{
    position:absolute;
    top:20px;
    left:90vw;
}
.img3{
    position:absolute;
    top:20px;
    left:93.5vw;
}
.img4{
    position:absolute;
    top:40px;
    left:25px;
    width:30px;
    height:30px;
    border-right:5px solid red;
    padding-right:22px;
    border-radius: 2px;
}
.img5{
    position:absolute;
    top:95px;
    left:25px;
    width:30px;
    height:30px;
}
.img6{
    position:absolute;
    bottom:22px;
    left:504px;
    height:30%;
}
.text3{
    position:absolute;
    left:530px;
    bottom:8px;
}
.task1{
    grid-area: task;
    position:absolute;
    /* top:10vh;
    left:5.5vw; */
    width:94.5vw;
    height:15vh;
    background-color: #e0e0e0;
}
.task2{
    grid-area: task1;
    display:grid;
    grid-template-areas: 
                "area1 area1 area1"
                "area2 area2 area2"
                "area3 area3 area3";
    grid-template-rows: auto auto auto;
    position:absolute;
    width:94.5vw;
    top:15vh;
    height:65vh;
    background-color: #f6f4f4;
}
.img7{
    position:absolute;
    height:25px;
    width:25px;
    top:3.3px;
    left:10px;
    /* transform:translate(-70px,5px) */
}
.text4{
    position:absolute;
    left:40px;
    transform: translateY(-20px);
}
button{
    position:absolute;
    top:40px;
    left:100px;
    width:10.5%;
    height:31%;
    background-color: white;
    border:none;
}
.line{
    border-right:1px solid black;
    transform:translate(-1129px,35px);
    height:45px;
}
.container{
    position: absolute;
    top:40px;
    left:310px;
    width:31%;
    height:31%;
    border: 1px solid transparent;
    background-color: white;
}
.btn1{
    width:100px;
    height:28.1px;
    background-color: rgb(234, 26, 109);
    color: black;
    top:3px;
    left:329px;
}
.input1{
    border:none;
    margin-top:9px;
    margin-left: 42px;;
}
.container1{
    position:absolute;
    top:40px;
    left: 790px;
    width:11%;
    height:30.9%;
    border: 1px solid transparent;
    background-color: white;
}
.img9{
    position:absolute;
    top:10px;
    left:10px;
    height:50%;
}
.text5{
    position:absolute;
    left:38px;
    top:-6px;
}
.img10{
    position:absolute;
    top:2px;
    left:115px;
    height:100%;
    /* width:50%; */
}
.line2{
    border-right: 1px solid black;
    height:40px;
    position:absolute;
    top:38px;
    left:960px;
}
.text6{
    position:absolute;
    top:33px;
    left:985px;
}
.task11{
    grid-area: area1;
    position:absolute;
    top:15px;
    left:100px;
    width:80vw;
    height:78%;
    border: 1px solid transparent;
    background-color: white;
    border-radius:15px;

}
.task12{
    grid-area: area2;
    position:absolute;
    top:1px;
    left:100px;
    width:80vw;
    height:78%;
    border: 1px solid transparent;
    background-color: white;
    border-radius:15px;

}
.task13{
    grid-area: area3;
    position:absolute;
    top:-10px;
    left:100px;
    width:80vw;
    height:78%;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 15px;

}
.text7{
    font-size: 17px;
    position:absolute;
    left:55px;
    color:#32CE30   ;
}
.text8{
    font-size: 17px;
    position:absolute;
    left:55px;
}
.img11{
    position:absolute;
    top:15px;
    left:25px;
    height:14%;
}
.img12{
    position:absolute;
    top:15px;
    left:320px;
    height:14%;
}
.text9{
    position:absolute;
    top:55px;
    left:55px;
    padding-right:410px;
}
.text17{
    position:absolute;
    top:40px;
    left:55px;
    padding-right:410px;
}
.text18{
    position:absolute;
    top:40px;
    left:55px;
    padding-right:420px;
}
.text10{
    position:absolute;
    top:-1.5px;
    left:350px;
    color:#32CE30   ;
    font-weight: bold;
    padding:1px 1px;
    background-color:#eaedec;
}
.text11{
    position:absolute;
    top:-1.5px;
    left:750px;
    color:#32CE30;
}
.text12{
    position:absolute;
    top:-1.5px;
    left:850px;
    color:#32CE30;
    background-color: #eaedec;
}
.text13{
    position:absolute;
    top:-1.5px;
    left:750px;
}
.text14{
    position:absolute;
    top:-1.5px;
    left:850px;
    background-color: #eaedec;
}
.text15{
    position:absolute;
    top:-1.5px;
    left:750px;
}
.text16{
    position:absolute;
    top:-1.5px;
    left:850px;
    background-color: #eaedec;
}
.line3{
    border-right: 1px dashed black;
    position:absolute;
    left:930px;
    height:98%;
}
.img13{
    position:absolute;
    height:17%;
    width:1.8%;
    top:12px;
    left:960px;
}
.img14{
    position:absolute;
    height:17%;
    width:1.8%;
    top:50px;
    left:960px;
}
.img15{
    position:absolute;
    height:15%;
    width:1.8%;
    top:85px;
    left:960px;
}
.text21{
    position:absolute;
    top:-1px;
    left:1000px;
}
.text22{
    position:absolute;
    top:35.5px;
    left:1000px;
}
.text19{
    position:absolute;
    top:70px;
    left:1000px;
}
.img16{
    position:absolute;
    top:17px;
    left:1147px;
    height:13%;
}
.line4{
    position:absolute;
    top:40px;
    left:1153px;
    border-right: 1px dashed black;
    height:47px;
}
.img17{
    position:absolute;
    top:90px;
    left:1146px;
    height:13%;
}
.text23{
    position:absolute;
    top:-1.5px;
    left:350px;
    color:rgb(234, 26, 109);
    font-weight: bold;
    padding:1px 1px;
    background-color:#eaedec;
}